# IntelliJ ignore
.idea
out
*.iml

# Gradle
.gradle

# Maven
target


# WebDir
/*.log
/*.yml

*.log
*.lck
*.1
*.2
*.3
*.4
*.5
*.6

webdir-generator/_site
webdir-generator/*.yml
webdir-generator/*.log
webdir-generator/crash-*.txt
